.card {
  min-width: 28rem;
  height: 14rem;
  display: flex;
  align-items: center;
  .card-ellipsis {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.6rem;
    padding: 1.6rem;
  }
  .ant-card-body {
    white-space: nowrap;
    overflow: hidden;
  }
}

.card-modal-content {
  :hover {
    cursor: pointer;
  }
}
