@import "variables.scss";

.main-header {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  width: 100%;
  .header-logo {
    width: 20rem;
  }
  .header-menu {
    margin-left: auto;
    margin-right: 3.2rem;
    li {
      font-weight: 500;
      line-height: 5rem;
    }
  }
}

/*
ant style override
*/
.ant-layout-header {
  padding: 0 4rem;
}

.ant-menu-item {
  background-color: transparent !important;
  border-bottom: 3px solid transparent !important;
  margin: 0 1.6rem !important;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  border-bottom: 3px solid $accent !important;
}

/*
mobile nav
*/
.mobile-nav-icon-open {
  margin-left: auto;
  display: none;
  font-size: 2.4rem;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.mobile-nav-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 100%;
  top: 0;
  background-color: $off-black;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  &.open {
    left: 0%;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    &:hover {
      cursor: pointer;
    }
  }
  .mobile-nav-icon-close {
    position: absolute;
    top: 0;
    right: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 720px) {
  .header-menu,
  .header-button {
    display: none;
  }

  .mobile-nav-icon-open {
    display: block !important;
  }

  .ant-layout-header {
    padding: 0 2rem;
  }
}
