@import "account.scss";
@import "card.scss";
@import "flashcards.scss";
@import "header.scss";
@import "loading.scss";
@import "login.scss";
@import "message.scss";
@import "study.scss";
@import "variables.scss";

* {
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $off-white;
  overflow-x: hidden;
}

/*
layout
*/
.content-header {
  padding: 1.6rem 0rem;
}

.content {
  height: 100%;
  width: 100%;
  padding: 0 4rem;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 2rem;
  }

  .content {
    padding: 0 2rem 1.6rem;
    overflow: hidden;
  }

  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
