@import "account.scss";
@import "card.scss";
@import "flashcards.scss";
@import "footer.scss";
@import "header.scss";
@import "loading.scss";
@import "login.scss";
@import "message.scss";
@import "study.scss";
@import "variables.scss";

* {
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background-color: $off-white;
}

/*
layout
*/
.content-header {
  padding: 1.6rem 4rem;
  button {
    min-width: 9.6rem;
  }
}

.content {
  padding: 0 4rem 1.6rem;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }

  .content {
    padding: 0 2rem 1.6rem;
    overflow: hidden;
    &-page-header {
      padding: 1.6rem 2rem;
    }
  }
}
