@import "variables.scss";

.login-content {
  position: absolute;
  top: 64px;
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  background-color: white;
  padding: 3.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .login-form {
    width: 240px;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-typography {
    margin-bottom: 2.4rem;
  }
  .login-form-action-aside {
    display: flex;
    justify-content: center;
  }
}
